{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'playlists/css/styles.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h1>Playlists</h1>
    </div>
    <div class="col-lg-6" id="create-playlists">
        <span><a href="{% url 'populate_playlists' %}">Create Playlists</a></span>
    </div>
</div>
<div class="row">
    <div class="col-lg">
        <table class="table">
            <thead>
                <th>Name</th>
                <th># Songs</th>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                    <tr>
                        <td><a href="{% url 'playlist' id=playlist.id %}">{{playlist.name}}</a></td>
                        <td>{{playlist.songs.all.count}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}