{% extends "base_generic.html" %} {% block content %}
<div class="row">
    <div class="col-lg">
        <h1>{{playlist.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg">
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
                <th>BPM</th>
                <th>Year</th>
            </thead>
            <tbody>
                {% for song in playlist.songs.all %}
                    <tr>
                        <td>{{song.title}}</td>
                        <td>{{song.artist}}</td>
                        <td>{{song.duration}}</td>
                        <td>{{song.bpm}}</td>
                        <td>{{song.year}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}