{% extends "base_generic.html" %}
{% block content %}
<!--Bootstrap styling from https://www.techinfected.net/2016/11/style-django-forms-with-bootstrap.html-->
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="form-group has-errors text-danger small">
            {{error}}
        </div>
    {% endfor %}
    {% for field in form %}
        <div class="form-group has-errors text-danger small">
            {{field.errors}}
        </div>
        <div class="form-group has-errors text-danger small">
        </div>
        <div class="form-group">
            {{field}}
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}